.message-box {
    padding: 10px;
    /* background-color: #40E0D0; */
    overflow-y: scroll;
    height: 95%; 
    display: flex;
    flex-direction: column-reverse;
  }
  

  .message-box.dark-mode {
    color: white;
  }

  .message {
    padding: 10px;
    border-radius: 30px;
    /* word-break: break-word; */
  }
  

  .message-div{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
  }

  .sent { 
    background-color:#f04242;
    color: #ffd7d7;
    align-self: flex-end;
    text-align: right;
    /* margin-left: auto;
    min-width: 200px;
    max-width: 400px; */
  }
  

  .received {
    background-color: #ebf4fb;
    color:#4b6679;
    align-self: flex-start;
    text-align: left;
    /* margin-right: auto;
    min-width: 200px;
    max-width: 400px; */
    
  }
  

  .message-content {
    font-size: 16px;
  }
  

  .sent.message-time.sent-time {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    text-align: right;
  }
  

  .received.message-time.recieved-time {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    text-align:left;
  }

.message-box::-webkit-scrollbar {
    width: 10px;
  }
  
  .message-box::-webkit-scrollbar-thumb {
    background: #364d5d;
    border-radius: 10px;
  }
  
  .message-box::-webkit-scrollbar-thumb:hover {
    background: #202a3f; 
  }

  .message-box.dark-mode::-webkit-scrollbar-thumb{
    background: white;
  }

  .default-img{
    padding-left: 30%;
     width: 400px;
     height: 500px;
     overflow: hidden;
  }

  .chat-img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
  }


  .default-msg{
    padding-left:10%;
    padding-top: 25%;
    /* color: #181f2e; */
    color: red;
    font-size: larger;
  }

  .default-msg .dark-mode{
    color: white;
  }


  .sent-div{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;

   }

   .sent{
    padding: 10px;
    border-radius: 30px;
   }