.message-box {
    padding: 10px;
    /* background-color: #40E0D0; */
    overflow-y: scroll;
    height: 95%;
    width: 63vw;
    display: flex;
    flex-direction: column-reverse;
  }
  



  .message-box.dark-mode {

    color: white;
  }

  .message {
    padding: 10px;
    border-radius: 30px;

    margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
  word-wrap: break-word;
  position: relative;
 
  }
  

  .message-div{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
  }

  .sent { 
    background-color:#f04242;
    color: #ffd7d7;
    align-self: flex-end;
    text-align: right;
    max-height: 200px;
    
    
  }
  
.message.received{
  margin-left: 20px;
  

}

.message.sent{
  margin-right: 20px;
  min-width: 80px;
}


  .received {
    background-color: #ebf4fb;
    color:#4b6679;
    align-self: flex-start;
    text-align: left;
    
  }

 
  

  .message-content {
    font-size: 16px;
  }
  

  .sent.message-time.sent-time {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    text-align: right;
  }
  

  .received.message-time.recieved-time {
    font-size: 12px;
    color: #777;
    margin-top: 5px;
    text-align:left;
  }

.message-box::-webkit-scrollbar {
    width: 10px;
  }
  
  .message-box::-webkit-scrollbar-thumb {
    background: #364d5d;
    border-radius: 10px;
  }
  
  .message-box::-webkit-scrollbar-thumb:hover {
    background: #202a3f; 
  }

  /* .message-box.dark-mode::-webkit-scrollbar-thumb{
    background: white;
  } */

  .default-img{
    padding-left: 30%;
     width: 400px;
     height: 500px;
     overflow: hidden;
  }

  .chat-img{
    width: 250px;
    height: 150px;
    border-radius: 20px;
  }


  .default-msg{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
    /* color: #181f2e; */
    color: red;
    font-size: larger;
  }

  .default-msg .dark-mode{
    color: white;
  }


  .sent-div{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

   }


.sent-tick {
  width: 16px; 
  height: 16px; 
}

.seen-tick {
  width: 16px; 
  height: 16px; 
  
}

.chat-img received-tick{
  width: 16px;
  height: 16px;
}

.message-content{
  max-width: 400px;
  overflow: hidden;
}

.sent-div p{
  background-color:#f04242;
    color: #ffd7d7 ;
    align-self: flex-end;
    text-align: right;
    max-height: 200px;
    /* min-width: 100px;
    min-height: 30px; */
}

.sent:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  right: -16px;
	left: auto;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color:#f04242 transparent transparent transparent;
}


.received:after{  
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto; 
  left: -16px; 
  top: 0px;
  bottom: auto;
  border: 20px solid;
  /* transform: rotate(-5deg); */
  border-color:  #ebf4fb transparent transparent transparent;
}




