.search-div{
    background-color:	#e2eef7;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.search-input{
    width: 100%;
   background: transparent;
   border: none;
   outline: none;

}

.search-bar{
    display: flex;
    background-color: white;
    width: 70%;
    height: 5vh;
    border-radius: 40px;
    border: none;
    outline: none;

}

.search-icon{
    display: flex;
    align-items: center;
}

.icon{
    color:grey;
    padding-left:10px ;
}

.icon.dark-mode{
  color: #181f2e !important;
}
 
  .search-div.dark-mode {
    background-color: #181f2e ;
    color: #fff;
  }
  

  .search-div.dark-mode .icon {
    color: #fff;
  }
  
  /* Add more styles as needed */
  